# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Environment-dependent path to Maven home directory
/mavenHomeManager.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

#
*.class

*/node_modules/

*/logs/

*/bearjia-ui/.git

*/bearjia-ui/node_modules

*bearjia-admin/.g
